<div class='container-fluid'>
  <div class='row justify-content-center' style='height: 50px;'>
    <div *ngIf='displayError' class='alert alert-danger' data-cy='error-msg'>
      {{errorMsg}}
    </div>
  </div>
  <div class='row' style='font-weight: bolder;'>
    <div class='col-6'>
      <div class='row justify-content-center'>
        Username
      </div>
    </div>
    <div class='col-6'>
      <div class='row justify-content-center'>
        Password
      </div>
    </div>
  </div>
  <div *ngFor='let user of userArray; let i = index;' class='row'>
    <div class='col-6'>
      <div class='row justify-content-center' [attr.data-cy]='"username-list"+i'>
        {{ user.username }}
      </div>
    </div>
    <div class='col-6'>
      <div class='row justify-content-center' [attr.data-cy]='"password-list"+i'>
        {{ user.password }}
      </div>
    </div>
  </div>
  <form [formGroup]='loginForm' (ngSubmit)='onSubmitLogin()' style='margin-top: 32px;'>
    <div class='form-group'>
      <label for='username'>Username</label>
      <input type='text' class='form-control' id='username' name='username' formControlName='username' data-cy='username-input' required>
    </div>
    <div class='form-group'>
      <label for='password'>Password</label>
      <input type='password' class='form-control' id='password' name='password' formControlName='password' data-cy='password-input' required>
    </div>
    <button type='submit' class='btn btn-primary' data-cy='login-btn'>Submit</button>
  </form>
</div>
